<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  /* user-select: none; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  background: #dde1e7;
  text-align: center;
}
.content{
  width: 40%;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}
.content .text{
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}
.field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.field:nth-child(2){
  margin-top: 20px;
}
.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}
.field input:focus{
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}
.field span{
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
.field label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 350px;
  pointer-events: none;
  color: #666666;
}
.field input:valid ~ label{
  opacity: 0;
}
.forgot-pass{
  text-align: left;
  margin: 10px 0 10px 5px;
}
.forgot-pass a{
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}
.forgot-pass:hover a{
  text-decoration: underline;
}
button{
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}
.sign-up{
  margin: 10px 0;
  color: #595959;
  font-size: 16px;
}
.sign-up a{
  color: #3498db;
  text-decoration: none;
}
.sign-up a:hover{
  text-decoration: underline;
}
    </style>
</head>
<body>
    <div class="content">
       <div class="text">
        <div class="text-center pt-3 pb-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
              alt="Check" width="60">
            <h4 class="my-4">Edit List</h4>
          </div>
       </div>
       <form action="/user/update/<%= datq._id %>" method="post">
          <div class="field">
            <label for=""></label>
             <input value="<%= datq.Ngit init
ame %>" name="Name" class="form-control" type="text">
          </div>
          <div class="field">
            <label for=""></label>
            <input value="<%= datq.Activity %>" name="Activity" class="form-control" type="text">
          </div>
          <div class="field" style ="margin-top:18px" >
                 <select  name="Status" class="form-select" id="inputGroupSelect02" style="border-radius: 25px;">
                   <option  selected><%= datq.Status %></option>
                   <option value="ToDo">ToDo</option>
                   <option value="In Progress">In Progress</option>
                   <option value="Cancelled">Cancelled</option>
                   <option value="Completed">Completed</option>
                 </select>
                 <label class="input-group-text" for="inputGroupSelect02">Options</label>
          </div>
          <div class="field" style ="margin-top:18px">
            <div class="field">
                <label for=""></label>
                <input value="<%= datq.Time %>" name="Time" placeholder=" Due Time" type="alphanumeric" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                
            </div>
           <div class="field">
            <!-- <label for="" style="font-size:18px;">Due Date</label> -->
            <input value="<%= datq.Date %>" name="Date" placeholder="Due Date" type="alphanumeric" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
           </div>      
          </div>
          <div class="field" style ="margin-top:32px">
            <select  name="Priority" class="form-select" id="inputGroupSelect02" style="border-radius: 25px;" >
              <option selected><%= datq.Priority %></option>
              <option value="High">High</option>
              <option value="Mid">Mid</option>
              <option value="Low">Low</option>
            </select>
            <label class="input-group-text" for="inputGroupSelect02">Level</label>
          </div>
          <br>
          <div class="field">
            <label for=""></label>
            <input value="<%= datq.TaskType %>" name="TaskType" class="form-control" type="text">
          </div>
          <br>
          <div class="mx-auto p-2" style="width: 200px;"><button class="btn btn-dark" type="">Update ToDo</button></div>
       </form>
    </div>
 </body>
</html>



